<div class="card rounded-0 filmItem">
    <div class="row">
        <div class="my-2 posterDiv">
            <img src="" class="h-100 w-100" alt="Постер">
        </div>
        <div class="col-9 p-2">
            <h3 class="card-title"><a></a></h3>
            <div class="year"></div>
            <div>
                <p class="country-genre mb-1"></p>
            </div>
            <span class="badge bg-primary"></span>
        </div>
        <div class="col my-auto">
            <button type="button" class="btn btn-danger my-2 p-2 deleteFavorite">Удалить из избранного</button>
        </div>
    </div>
</div>




