<div class="row mt-4 mx-4 mb-4 bg-white px-4 py-4 d-none" id="profile-container" style="min-height: 90vh">
<div class="col-12 col-md-4 col-lg-5 col-xl-3">
  <img class="card-img-top profile-avatar border mh-100" src="..." alt="..." id="avatarImage">
</div>

<div class="col-12 col-md-8 col-lg-7 col-xl-9 bold">
  <h1 id="name"></h1>
  <form>
    <div class="row">
      <div class="col-12">
        <label for="email">Email</label>
        <input type="email" class="form-control my-2" id="email"
          placeholder="Введите email" disabled>
      </div>

      <div class="col-12">
        <label for="avatarLink">Ссылка на аватар</label>
        <input type="text" class="form-control my-2" id="avatarLink" placeholder="Укажите ссылку на аватар" disabled>
      </div>

      <div class="col-12">
        <label for="fullName">ФИО</label>
        <input type="text" class="form-control my-2" id="fullName" placeholder="Введите ФИО" disabled>
      </div>

      <div class="col-12">
        <label for="birthday">Дата рождения</label>
        <input type="date" class="form-control my-2" id="birthday" min="1900-01-01" disabled>
      </div>

      <div class="col-12">
        <label for="gender">Укажите пол</label>
        <select id="gender" class="form-select my-2" disabled>
          <option>Мужской</option>
          <option>Женский</option>
        </select>
      </div>


      <div>
        <button type="button" class="btn btn-warning my-2" id="editProfileBtn">Редактировать</button>
      </div>

    </div>
  </form>
</div>
</div>